.expense-list{
    margin: auto;
    max-width: 768px;
    padding: 15px;
    background-color: #2a2a2a;
    overflow-x: hidden;
    overflow-y: auto;
}
@media (max-width: 768px) {
    .expense-list{
        max-width: 95%;
    }
}